

@if (wishlistProduct) {
    <div class="w-3/4 mx-auto py-10">
        <h1 class="text-center dark:text-white text-green-600 font-bold text-3xl">{{"wish list" | translate }}</h1>
@for (wishproduct of wishlistProduct; track $index) {
   

<!-- =============================================================== -->
<div class="grid sm:grid-cols-5 lg:grid-cols-5 items-center mx-auto gap-10 mt-3 py-3 hover:bg-gray-400 transition-all text-center  border-b-2 border-gray-600">
    <div class="mx-auto"><img [src]="wishproduct.imageCover"class="w-16 md:w-32 max-w-full max-h-full" alt="Apple Watch"></div>
    <div class="dark:text-white" ><p> {{wishproduct.title}}</p></div>

    <div class="dark:text-white"><p>{{wishproduct.price}} EGP</p></div>
    <div><a (click)="deleteWishProduct(wishproduct._id)" class="font-medium cursor-pointer text-red-600 dark:text-red-500 hover:underline">{{"remove" | translate }}</a></div>
      <div> <button (click)="addToCart(wishproduct._id)" class="border-red-600 border py-3 px-6 hover:bg-red-600 transition-all dark:text-white hover:text-white">+ {{"add to cart" | translate }}</button></div>

 </div>

 
    }
    
</div>
}


