

<div class="py-10 " >
    <h1 class="text-center dark:text-white text-green-600 font-bold text-3xl">{{"All Order" | translate }}</h1>

    <!-- <h1>{{userOrder[1].user.name}}</h1> -->
    @for (item of userOrder; track $index) {
        <div class="border dark:text-white cardHover border-gray-300 w-3/4 mx-auto my-5  p-5 grid gap-y-5 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 ">

            <h1><span class="font-semibold">name :</span> {{item.user.name}}</h1>
            <h1><span class="font-semibold">pay :</span>  {{item.paymentMethodType}}</h1>
            <h1><span class="font-semibold">Date :</span>  {{item.createdAt | date }}</h1>
        <h1><span class="font-semibold">total price :</span>  {{item.totalOrderPrice}} EGP</h1>

        

       
    </div>
       
    }
</div>
