




<div class="max-w-sm bg-white cardHover py-3   rounded-lg shadow-md   group ">

  <div  class="cursor-pointer" [routerLink]="['/productdetils' , oneproduct._id]" >
    <a >
        <img class="rounded-t-lg h-48 w-full object-contain" [src]="oneproduct.imageCover" [alt]="oneproduct.title" />
    </a>
    <div class="px-5 ">
      
        <p class="mb-3 font-normal text-green-700 dark:text-gray-400">{{oneproduct.category.name}}</p>
        <h4 class="line-clamp-1 "><span class="font-bold">{{"name" | translate }}</span> :  {{oneproduct.title}}</h4>

        <div class="flex justify-between">
            <p>{{oneproduct.price}} EGP</p>
            <p><i class="fa-solid fa-star text-yellow-500"></i> {{oneproduct.ratingsAverage}}</p>
        </div>
     
    </div>
    </div>

    <div class="text-center  py-1">
      <i #iconList (click)="addTowish(oneproduct._id ,iconList )" class="fa-solid fa-heart text-2xl  cursor-pointer "></i>
    </div>

    <div (click)="addToCart(oneproduct._id)" class=" translate-y-full  opacity-0 group-hover:-translate-y-1 group-hover:opacity-100 transition-all bg-green-700 w-3/4 p-2 mx-auto  text-center rounded-sm  cursor-pointer">

      <a >
        <h4 class="text-white">+ {{"add to cart" | translate }}</h4>
      </a>

    </div>
</div>

