
<div class=" lg:w-7/12 shadow-2xl rounded-lg p-8 mx-auto my-10">

    <form [formGroup]="updatepass" (ngSubmit)="sendUpdatePass()" >

<div   class="mb-6">
    <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{"currentPassword" | translate }}</label>
    <input formControlName="currentPassword" type="text" id="default-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">

    @if ( updatepass.get('currentPassword')?.touched && updatepass.get('currentPassword')?.errors) {
    
        @if(updatepass.get('currentPassword')?.getError('required')){
          <app-alert [alertData]="'currentPassword is required'"></app-alert>
             }
        @else if (updatepass.get('currentPassword')?.getError('pattern')) {
          <app-alert [alertData]="'inter valid currentPassword'"></app-alert>
            }
       
      }

</div>


<div   class="mb-6">
    <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{"password" | translate }}</label>
    <input formControlName="password" type="text" id="default-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">

    @if ( updatepass.get('password')?.touched && updatepass.get('password')?.errors) {
    
        @if(updatepass.get('password')?.getError('required')){
          <app-alert [alertData]="'password is required'"></app-alert>
        
        }
        @else if (updatepass.get('password')?.getError('pattern')) {
          <app-alert [alertData]="'inter valid password'"></app-alert>
            }
       
      }

</div>

<div  class="mb-6">
    <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{"repassword" | translate }}</label>
    <input formControlName="rePassword" type="text" id="default-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">


    @if ( updatepass.get('rePassword')?.touched && updatepass.get('rePassword')?.errors) {
    
        @if(updatepass.get('rePassword')?.getError('required')){
          <app-alert [alertData]="'rePassword is required'"></app-alert>
           
        }
        @else if (updatepass.get('rePassword')?.getError('pattern')) {
          <app-alert [alertData]="'inter valid rePassword'"></app-alert>
          }
      }

     @if(updatepass.errors && updatepass.get('rePassword')?.touched){
      <app-alert [alertData]="'password and rePassword not matched'"></app-alert>
    
     }

</div>



<div class="text-center py-5">
    <button  [disabled]="updatepass.invalid"  class="btnSub disabled:bg-green-950"> {{"send" | translate }}
        
      
    </button>
</div>
</form>
</div>

