
<div class="mx-auto w-3/4">
    <div class="grid  grid-cols-2 mx-auto  py-10" >
        <div >
            
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide><img src="/images/slider-image-2.jpeg" alt=""></ng-template>  
        <ng-template carouselSlide><img src="/images/slider-image-1.jpeg" alt=""></ng-template>  
        <ng-template carouselSlide><img src="/images/slider-image-3.jpeg" alt=""></ng-template>  
      </owl-carousel-o>
        </div>
    
        <div >
          <img class="py-1" src="/images/imgapi4.jpg" alt="">
    
    
    
        </div>
    </div>
    
</div>

